.mainContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 75px;
  background-image: url("../../Assets/LandingPage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
  color: #f57e14;
  width: 50%;
}

.content > h1 {
  font-weight: 500;
}

.content > input::-webkit-file-upload-button {
  outline: none;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 5rem;
  background: linear-gradient(90deg, #fdb43c 0%, #f47a11 100%);
  border: none;
  font-weight: 500;
  font-size: 1.25rem;
}

.prediction {
  outline: none;
  background-color: transparent;
  color: #f47a11;
  border: 1px solid #f47a11;
  padding: 0.5rem;
}

/* Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
